.row
  #dot-nav[data-spy="affix"]
    ul
      li.awesome-tooltip.active[title="1"]
        a[href="#home"]
      li.awesome-tooltip[title="2"]
        a[href="#about"]
      li.awesome-tooltip[title="3"]
        a[href="#projects"]
  #main
    section#home
      .container
        h1
          | Fresh albums
          small
            |  newly added albums
        .row-album
          - @new_albums.each do |album|
            -if album.picture.present?
              = link_to image_tag(album.picture.file, class: "img-rounded img-album ", width: "180px"), album_path(album)
    section#about
      .container
        h1
          | My playlists
          small
            |  beloved music here
          = link_to "", new_playlist_path(:playlist), class:"glyphicon glyphicon-plus-sign"
          = link_to "", playlists_path, class:"glyphicon glyphicon-list-alt"
        .row-album
          - @playlists.each do |playlist|
            = link_to image_tag(playlist.picture.file, class: "img-rounded img-album ", width: "180px"), playlist_path(playlist)
    section#projects
      .container
        h1
          | All albums
          small
            |  greatest music
          = link_to "", albums_path, class:"glyphicon glyphicon-folder-open"
        .row-album
          - @albums.each do |album|
            -if album.picture.present?
              = link_to image_tag(album.picture.file, class: "img-rounded img-album ", width: "180px"), album_path(album)
