<div data-spy="affix" id="dot-nav">
      <ul>
        <li class="awesome-tooltip active" title="Home"><a href="#home"></a></li>
        <li class="awesome-tooltip" title="About"><a href="#about"></a></li>
        <li class="awesome-tooltip" title="Projects"><a href="#projects"></a></li>
        <li class="awesome-tooltip" title="Contact"><a href="#contact"></a></li>
      </ul>
  </div>
    
    <div id="main" class="container">
      <section id="home">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Home Section <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
      </section>
        <section id="about">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>About Section <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="projects">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Projects Section <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="contact">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Contact Section <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>        
    </div>