.container
  center
    h1
      | My Profile
  p
    | Email: 
    = @user.email
  p
    | Nickname: 
    = @user.nick_name
  p
    | Firstname: 
    = @user.first_name
  p
    | Lastname: 
    = @user.last_name
  - if current_user.avatar.url.present?
    p
      = image_tag(current_user.avatar.url)
  = link_to "Edit Info",  edit_user_path, class: "btn btn-primary"
