=simple_form_for [@album, @song] do |f|
  .form-group
    =f.input :artist, label: false, placeholder: "Artist", input_html: { class: "form-control" }
  .form-group
    =f.input :title, label: false, placeholder: "Title", input_html: { class: "form-control" }
  .form-group
    =f.input :file, label: "Add song file", as: :file
  .form-group
    .btn-group role="group" aria-label="action"
      =f.submit class: "btn btn-primary"
      =link_to "Back", album_path(@album.id), type: "button", class: "btn btn-success"
