//body { padding-top: 75px; }

.signing {
  margin-top: 150px;
}

.forgot-you-password {
  float: right;
  font-size: 12px;
  margin: -15px 0 0 0;
}

/* panel player custom color */
.panel-footer.panel-custom {
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    color: white;
}

.row-album {
    margin: 80px 0px 80px 0px;
    }

.img-album {
    margin: 10px 10px 10px 10px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.img-album:hover {
	cursor: pointer;
	-webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px black;
    z-index: 1;
}

.facebook {
  position: relative;
  left: 300px;
}


.profile{
background-image: url(/assets/1511.jpg);
}

.edit{
background-image: url(/assets/1511.jpg);
color: white;
}

.modal{
background-image: url(/assets/1511.jpg);
}
