= form_tag add_song_playlist_path, method: "get", remote: true, class: "form-inline" do
  .form-group
    = text_field_tag :search, params[:search], class: "form-control"
    = submit_tag "Search Song", class: "btn btn-default"
